<template>
    <Exam></Exam>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import Exam from '@/components/Exam.vue';

@Component({
    components: {
        Exam,
    }
})

export default class Examview extends Vue {}
</script>
