<template>
  <Exception></Exception>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import Exception from '@/components/Exception.vue'; // @ is an alias to /src

@Component({
  components: {
    Exception,
  },
})
export default class Exceptionview extends Vue {}
</script>
