<template>
    <Exercise></Exercise>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import Exercise from '@/components/Exercise.vue';

@Component({
    components: {
        Exercise,
    }
})

export default class Excerciseview extends Vue {}
</script>
