<template>
    <ExerciseSolve></ExerciseSolve>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import ExerciseSolve from '@/components/ExerciseSolve.vue';

@Component({
    components: {
        ExerciseSolve,
    }
})

export default class ExerciseSolveview extends Vue {}
</script>
