<template>
    <ExerciseList></ExerciseList>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import ExerciseList from '@/components/ExerciseList.vue';

@Component({
    components: {
        ExerciseList,
    }
})

export default class ExerciseListview extends Vue {}
</script>
