<template>
    <ExerciseEdit></ExerciseEdit>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import ExerciseEdit from '@/components/ExerciseEdit.vue';

@Component({
    components: {
        ExerciseEdit,
    }
})

export default class ExerciseEditview extends Vue {}
</script>
