<template>
    <Group></Group>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import Group from '@/components/Group.vue';

@Component({
  components: {
    Group,
  }
})
export default class Groupview extends Vue {}
</script>
