<template>
  <GroupList></GroupList>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import GroupList from '@/components/GroupList.vue'; // @ is an alias to /src

@Component({
  components: {
    GroupList,
  },
})
export default class GroupListview extends Vue {}
</script>
