<template>
  <GroupEdit></GroupEdit>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import GroupEdit from '@/components/GroupEdit.vue'; // @ is an alias to /src

@Component({
  components: {
    GroupEdit,
  },
})
export default class GroupEditview extends Vue {}
</script>
