<template>
    <Logout></Logout>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import Logout from '@/components/Logout.vue';

@Component({
  components: {
    Logout,
  }
})
export default class Logoutview extends Vue {}
</script>
