<template>
    <Node></Node>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import Node from '@/components/Node.vue';

@Component({
  components: {
    Node,
  }
})
export default class Nodeview extends Vue {}
</script>
