<template>
  <NodeList></NodeList>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import NodeList from '@/components/NodeList.vue'; // @ is an alias to /src

@Component({
  components: {
    NodeList,
  },
})
export default class NodeListview extends Vue {}
</script>
