<template>
  <NodeEdit></NodeEdit>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import NodeEdit from '@/components/NodeEdit.vue'; // @ is an alias to /src

@Component({
  components: {
    NodeEdit,
  },
})
export default class NodeEditview extends Vue {}
</script>
