<template>
    <Permission></Permission>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import Permission from '@/components/Permission.vue';

@Component({
    components: {
        Permission,
    }
})

export default class Permissionview extends Vue {}
</script>
