<template>
    <Register></Register>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import Register from '@/components/Register.vue';

@Component({
    components: {
        Register,
    }
})

export default class Registerview extends Vue {}
</script>
