<template>
    <div class="vue-template">
        <form v-if="exam[Exerciseposition] && exam.length != 0">
            <h3>Exam</h3>

            <div class="form-group">
                <label>Difficulty</label>
                <select @change="difficultyChange()" v-model="choosenDifficulty" class="form-select">
                <option v-for="difficulty in difficulties" :key="difficulty.id" :value="difficulty" > {{difficulty.name}}</option>
                </select>
            </div>

            <span v-if="view == true">
            <div class="form-group">
                <label>Question</label>
                <input v-model="exam[Exerciseposition].question" :key="Exerciseposition" type="text" class="form-control form-control-lg" readonly/>
            </div>

            <div class="form-group">
                <label>Question Image</label>
                <img class="form-control form-picture form-control-lg" v-bind:src="'http://localhost:4000/api/image/' + exam[Exerciseposition].questionImage"/>
            </div>
            </span>

            <span v-else>
            <div class="form-group">
                <label>Answer</label>
                <input v-model="exam[Exerciseposition].answer" type="text" class="form-control form-control-lg" readonly/>
            </div>

            <div class="form-group">
                <label>Answer Image</label>
                <img class="form-control form-picture form-control-lg" v-bind:src="'http://localhost:4000/api/image/' + exam[Exerciseposition].answerImage"/>
            </div>
            <div class="form-group">
                <label>Correct</label>
                 <input v-model="correct"type="checkbox" class="form-cbx"/>
            </div>
            </span>
            <button v-if="view == true" @click="viewchange()" class="btn btn-dark btn-lg btn-block form-btn">Show Answer</button>
            <button v-else @click="viewchange()" class="btn btn-dark btn-lg btn-block form-btn">Show Question</button>
            <button @click="previous()" class="btn btn-dark btn-lg btn-block form-btn" :class="{'blocked' : position == 0}">previous</button>
            <button @click="next()" class="btn btn-dark btn-lg btn-block form-btn" :class="{'blocked' : position == length}">Next</button>
            <button @click="solved()" class="btn btn-dark btn-lg btn-block form-btn">Exercise solved</button>
        </form>
        <form v-else>
            <h3>Not enough Exercises</h3>

            <div class="form-group">
                <label>Difficulty</label>
                <select @change="difficultyChange()" v-model="choosenDifficulty" class="form-select">
                <option v-for="difficulty in difficulties" :key="difficulty.id" :value="difficulty" > {{difficulty.name}}</option>
                </select>
            </div>
        </form>
    </div>
</template>
<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import axios from 'axios';
import VueMultiSelect from "vue-simple-multi-select";
import router from '@/router/index.ts';

axios.defaults.withCredentials=true;

@Component
export default class Exam extends Vue {
    private nodeId = 0;
    private position = 0;
    private length = 0;
    private difficulties = [];
    private choosenDifficulty = 0;
    private viewmode = true
    public exam = []
    private correct = false;
    created() {     
        this.nodeId = this.$route.params.id;
    }

    mounted(){
        this.getdata();
    }

    private getdata(){
        axios.get('http://localhost:4000/api/node/' + this.nodeId + '/exam?difficulty=').then(response => {
            this.exam = response.data;
            this.length = this.exam.length-1;
        });
        axios.get('http://localhost:4000/api/difficulty').then(response => {
            this.difficulties = response.data;
        })
    }

    private difficultyChange(){
        axios.get('http://localhost:4000/api/node/' + this.nodeId + '/exam?difficulty=' + this.choosenDifficulty.id).then(response => {
            this.exam = response.data;
            this.length = this.exam.length-1;
        });
    }

    private next(){
        if(this.position != this.length){
            this.position = this.position + 1
        }
        
    }

    private previous(){ 
        if(this.position != 0){
            this.position = this.position - 1
        }
        
    }

    get view(){
        return this.viewmode
    }

    private viewchange(){
        this.viewmode = !this.viewmode
    }

    get Exerciseposition(){
        return this.position;
    }

    get Exerciselength(){
        return this.length;
    }

    private solved(){
        const correct = this.correct;
        console.log("http://localhost:4000/api/exercise/" + this.exam[this.position].id, {correct: correct})
        axios.post("http://localhost:4000/api/exercise/" + this.exam[this.position].id, {correct: correct})
        .catch(function(response){
            router.push({ name: "exception"});
        })
        this.next()
        this.correct = false;
        this.viewmode = true;
    }
    
}
</script>
