<template>
    <div class="vue-template">
        <h3>Sacre Bleu! something went wrong!</h3>
    </div>
</template>
<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

@Component
export default class Exception extends Vue {}
</script>
