<template>
    <div class="vue-template">
        <form>
            <h3>Edit Exercise</h3>
            <div class="form-group">
                <label>Question</label>
                <input v-model="exercise.question" type="text" class="form-control form-control-lg"/>
            </div>

             <div class="form-group">
                <label>Question Image</label>
                <input type="file" @change="picturefile($event, 'question')" class="form-control form-control-lg" />
            </div>
            
            <div class="form-group">
                <label>Answer</label>
                <input v-model="exercise.answer" type="text" class="form-control form-control-lg"/>
            </div>

            <div class="form-group">
                <label>Answer Image</label>
                <input @change="picturefile($event, 'answer')" type="file" class="form-control form-control-lg" />
            </div>

            <div class="form-group">
                <label>Difficulty</label>
                <select v-model="exercise.difficulty">
                <option v-for="difficulty in difficulties" :key="difficulty.id" :value="difficulty"> {{difficulty.name}}</option>
                </select>
            </div>

            <button @click="create()" class="btn btn-dark btn-lg btn-block form-btn">Exercise solved</button>
        </form>
    </div>
</template>
<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import axios from 'axios';
import VueMultiSelect from "vue-simple-multi-select";
import router from '@/router/index.ts';

axios.defaults.withCredentials=true;

@Component
export default class ExerciseEdit extends Vue {
    private exerciseId;
    private difficulties = [];
    private questionimage = null;
    private answerimage = null;
    public exercise = {
        name: null,
        question : null,
        answer: null,
        difficulty: null
    }
    
    created() {     
        this.exerciseId = this.$route.params.id;
    }

    mounted(){
        this.getdata();
    }

    private getdata(){
        axios.get('http://localhost:4000/api/exercise/' + this.exerciseId).then(response => {
            this.exercise = response.data;
        });

        axios.get('http://localhost:4000/api/difficulty').then(response => {
            this.difficulties = response.data;
        })
    }

    private picturefile(event, type: string){
        if(type == "question"){
            this.questionimage = event.target.files[0]
        }else{
            this.answerimage = event.target.files[0]
        }
    }

    private create(){
        var formData = new FormData();
        const data = this.exercise
        const qimage = this.questionimage
        const aimage = this.answerimage
        formData.append("name", data.name);
        formData.append("question", data.question);
        formData.append("questionImage", qimage);
        formData.append("answer", data.answer);
        formData.append("answerImage", aimage);
        formData.append("difficultyId", data.difficulty.id);
        
        axios.put("http://localhost:4000/api/exercise/" + this.exerciseId , formData,{ headers: {'Content-Type': 'multipart/form-data'}})
        .then(function(response){
             router.push({ name: "exerciselist"});

        })
        .catch(function(response){
             router.push({ name: "exception"});
        })
        
    }
    
}
</script>
