<template>
    <div class="vue-template">
        <table>
            <tr>
                <th>Exercise</th>
                <th>Actions</th>
            </tr>
            <tr v-for="exercise in exercises">
                <td>{{ exercise.name }}</td>
                <td v-if="userId == exercise.creatorId"><router-link :to="{name: 'nodeedit', params: {id: exercise.id }}">Edit</router-link></td>
            </tr>
            
        </table>
    </div>
</template>
<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import axios from 'axios';
import VueMultiSelect from "vue-simple-multi-select";
axios.defaults.withCredentials=true;

@Component
export default class Group extends Vue { 
    private exercises = [];
    private userId = null;

    mounted (){
        this.loadexercises();
        this.loaduser();
    }

    private async loaduser(){
        axios.get('http://localhost:4000/api/user').then(response => { 
            const user = response.data;
            this.userId = user[0].id;
        });
    }

    private async loadexercises(){       
        axios.get('http://localhost:4000/api/exercise').then(response => {
            this.exercises = response.data;
        });
    }
    
}
</script>
