<template>
    <div class="vue-template">
        <form>
            <h3>Create new Exercise</h3>

            <div class="form-group">
                <label>Name</label>
                <input v-model="exercise.name" type="text" class="form-control form-control-lg" />
            </div>

            <div class="form-group">
                <label>Question</label>
                <input v-model="exercise.question" type="text" class="form-control form-control-lg" />
            </div>

            <div class="form-group">
                <label>Question Image</label>
                <input type="file" @change="picturefile($event, 'question')" class="form-control form-control-lg" />
            </div>

            <div class="form-group">
                <label>Answer</label>
                <input v-model="exercise.answer" type="text" class="form-control form-control-lg" />
            </div>

            <div class="form-group">
                <label>Answer Image</label>
                <input @change="picturefile($event, 'answer')" type="file" class="form-control form-control-lg" />
            </div>

            <div class="form-group">
                <label>Add nodes</label>
                <vue-multi-select v-model="exercise.nodes" :options="items" optionLabel="name"></vue-multi-select>
            </div>

            <div class="form-group">
                <label>Difficulty</label>
                <select v-model="exercise.difficulty" class="form-select">
                <option v-for="difficulty in difficulties" :key="difficulty.id" :value="difficulty" > {{difficulty.name}}</option>
                </select>
            </div>

            <button @click="create()" class="btn btn-dark btn-lg btn-block form-btn">Create Exercise</button>
        </form>
    </div>
</template>
<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import axios from 'axios';
import VueMultiSelect from "vue-simple-multi-select";
import router from '@/router/index.ts';

axios.defaults.withCredentials=true;

@Component
export default class Exercise extends Vue {
    private items = [];
    private difficulties = [];
    private questionimage = null;
    private answerimage = null;
    public exercise = {
        name: null,
        question : null,
        answer: null,
        nodes: null,
        difficulty: null
    }
    
    mounted(){
        this.getdata();
    }

    private getdata(){
        axios.get('http://localhost:4000/api/node').then(response => {
            this.items = response.data;
        });
        axios.get('http://localhost:4000/api/difficulty').then(response => {
            this.difficulties = response.data;
        })
    }

    private picturefile(event, type: string){
        if(type == "question"){
            this.questionimage = event.target.files[0]
        }else{
            this.answerimage = event.target.files[0]
        }
    }

    private create(){
        var formData = new FormData();
        const data = this.exercise
        const qimage = this.questionimage
        const aimage = this.answerimage
        const count = this.exercise.nodes.length;
        formData.append("name", data.name);
        formData.append("question", data.question);
        formData.append("questionImage", qimage);
        formData.append("answer", data.answer);
        formData.append("answerImage", aimage);
        formData.append("difficultyId", data.difficulty.id);
        
        for(let i = 0; i < count; i++){
            axios.post("http://localhost:4000/api/node/" + data.nodes[i].id + "/exercise/", formData,{ headers: {'Content-Type': 'multipart/form-data'}})
            .then(function(response){
                router.push({ name: "exerciselist"});
            })
            .catch(function(response){
                router.push({ name: "exception"});
            })
        }
    }
}
</script>
