<template>
    <div class="vue-template">
        <form>
            <h3>Solve Exercise</h3>
            <span v-if="view == true">
            <div class="form-group">
                <label>Question</label>
                <input v-model="exercise.question" type="text" class="form-control form-control-lg" readonly/>
            </div>

            <div class="form-group">
                <label>Question Image</label>
                <img class="form-control form-picture form-control-lg" v-bind:src="'http://localhost:4000/api/image/' + exercise.questionImage"/>
            </div>
            </span>
            <span v-else>
            <div class="form-group">
                <label>Answer</label>
                <input v-model="exercise.answer" type="text" class="form-control form-control-lg" readonly/>
            </div>

            <div class="form-group">
                <label>Answer Image</label>
                <img class="form-control form-picture form-control-lg" v-bind:src="'http://localhost:4000/api/image/' + exercise.answerImage"/>
            </div>
            <div class="form-group">
                <label>Correct</label>
                 <input v-model="exercise.correct" type="checkbox" class="form-cbx"/>
            </div>
            </span>
            <button v-if="view == true" @click="viewchange()" class="btn btn-dark btn-lg btn-block">Show Answer</button>
            <button v-else @click="viewchange()" class="btn btn-dark btn-lg btn-block">Show Question</button>

            <button @click="solved()" class="btn btn-dark btn-lg btn-block form-btn">Exercise solved</button>
        </form>
    </div>
</template>
<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import axios from 'axios';
import VueMultiSelect from "vue-simple-multi-select";
import router from '@/router/index.ts';

axios.defaults.withCredentials=true;

@Component
export default class ExerciseSolve extends Vue {
    private exerciseId = 0;
    private viewmode = true
    public exercise = {
        question : null,
        questionImage: null,
        answer: null,
        answerImage: null,
        nodes: null,
        correct: true
    }
    
    created() {     
        this.exerciseId = this.$route.params.id;
    }

    mounted(){
        this.getdata();
    }

    private getdata(){
        axios.get('http://localhost:4000/api/exercise/' + this.exerciseId).then(response => {
            this.exercise = response.data;
        });
    }

    get view(){
        return this.viewmode
    }

    private viewchange(){
        this.viewmode = !this.viewmode
    }

    private solved(){
        const correct = this.exercise.correct;
        axios.post("http://localhost:4000/api/exercise/" + this.exerciseId, {correct: correct})
            .then(function(response){
                router.push({ name: "exerciselist"});
            })
            .catch(function(response){
                router.push({ name: "exception"});
            })
    }
    
}
</script>
