<template>
    <div class="vue-template">
        <form>
            <h3>Create new Group</h3>

            <div class="form-group">
                <label>Group name</label>
                <input v-model="group.name" type="text" class="form-control form-control-lg" />
            </div>

            <div class="form-group">
                <label>Add users</label>
                <vue-multi-select v-model="group.users" :options="items" optionLabel="username"></vue-multi-select>
            </div>
            <button @click="create()" class="btn btn-dark btn-lg btn-block form-btn">Create Group</button>
        </form>
    </div>
</template>
<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import axios from 'axios';
import VueMultiSelect from "vue-simple-multi-select";
import router from '@/router/index.ts';

axios.defaults.withCredentials=true;

@Component
export default class Group extends Vue {
    private items = [];

    public group = {
        name : null,
        users : null
    }
    
    mounted(){
        this.getdata();
    }

    private getdata(){
        axios.get('http://localhost:4000/api/user?username=*').then(response => {
            this.items = response.data;
        });
    }

    private create(){
        const count = this.group.users.length;
        const groupdata = this.group
        axios.post('http://localhost:4000/api/group', {name: this.group.name})
        .then(function(response){
            const groupId = response.data.id;
            for(let i = 0; i < count; i++){
                axios.post("http://localhost:4000/api/group/" + groupId + "/invite/" + groupdata.users[i].id)
                .then(function(response){
                    console.log(response)
                })
                .catch(function(response){
                    console.log(response)
                })
            }
            router.push({ name: "grouplist" });
        })
        .catch(function(error){
            router.push({ name: "exception"});
        })
    }
}
</script>
