<template>
    <div class="vue-template">
        <h3>Edit Group</h3>

        <div class="form-group">
                <label>Add users</label>
                <vue-multi-select v-model="group.users" :options="items" optionLabel="username"></vue-multi-select>
        </div>
        <div class="form-group">
            <label>Member of Group</label>
            <ul>
                <li v-for="member in groupusers" :key="groupusers.name">
                    {{ member.username }}
                    <button @click="kick(member.id)">Kick</button>
                </li>
            </ul>
        </div>

        <button class="btn btn-dark btn-lg btn-block form-btn" id="btn_edit" @click="Edit()">Confirm Edit</button>
    </div>
</template>
<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import axios from 'axios';
import router from '@/router/index.ts';

axios.defaults.withCredentials=true;

@Component
export default class GroupEdit extends Vue {
    private groupId = "";
    private items = [];
    private groupusers = [];

    public group = {
        users : null
    }

    created() {     
        this.groupId = this.$route.params.id;
    }
    
    mounted(){
        this.loadgroupusers();
        this.getdata();
    }

    private async loadgroupusers(){
        axios.get('http://localhost:4000/api/group/' + this.groupId + '/user ').then(response => {
            this.groupusers = response.data;
        });
    }

    private getdata(){
        axios.get('http://localhost:4000/api/user?username=*').then(response => {
            this.items = response.data;
        });
    }

    private kick(userId: String){
        axios.post("http://localhost:4000/api/group/" + this.groupId + "/kick/" + userId)
        .then(function(response){
            router.push({ name: "grouplist"});
        })
        .catch(function(response){
            router.push({ name: "exception"});
        })
    }

    private Edit(){
        const count = this.groupusers.length;
        const groupId = this.groupId;
        const groupdata = this.group;
        for(let i = 0; i < count; i++){
            axios.post("http://localhost:4000/api/group/" + groupId + "/invite/" + groupdata.users[i].id)
            .then(function(response){
                console.log(response)
            })
            .catch(function(response){
                router.push({ name: "exception"});
            })
        }
        router.push({ name: "grouplist"});
        
    }
    
}
</script>
