<template>
    <div class="vue-template">
        <table>
            <tr>
                <th>Groupname</th>
                <th>Actions</th>
            </tr>
            <tr v-for="group in groups">
                <td>{{ group.name }}</td>
                <td v-if="userId == group.creatorId"><router-link :to="{name: 'groupedit', params: {id: group.id }}">Edit</router-link></td>
            </tr>
        </table>
    </div>
</template>
<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import axios from 'axios';
import VueMultiSelect from "vue-simple-multi-select";
axios.defaults.withCredentials=true;

@Component
export default class Group extends Vue {
    private groups = [];
    private userId = null;

    mounted (){
        this.loadgroups();
        this.loaduser();
    }

    private async loaduser(){
        axios.get('http://localhost:4000/api/user').then(response => {
            const user = response.data;
            this.userId = user[0].id;
        });
    }

    private async loadgroups(){       
        axios.get('http://localhost:4000/api/user/group').then(response => {
            this.groups = response.data;
        });
    }
    
}
</script>
