<template>
    <div class="vue-template">
        <b-card title="Create Node" tag="article" style="max-width: 10rem; display: inline-block; margin: 4px;" class="mb-2">
            <b-card-text>
                Create a new Node!
            </b-card-text>
            <router-link :to="{name: 'node'}">Create Node</router-link>
        </b-card>
        <b-card title="Node List" tag="article" style="max-width: 10rem; display: inline-block; margin: 4px;" class="mb-2">
            <b-card-text>
                Get to look at your nodes and edit them!
            </b-card-text>
            <router-link :to="{name: 'nodelist'}">Show Nodelist</router-link>
        </b-card>
        <b-card title="Create Group" tag="article" style="max-width: 10rem; display: inline-block; margin: 4px;" class="mb-2">
            <b-card-text>
                Create a new Group! 
            </b-card-text>
            <router-link :to="{name: 'group'}">Create Group</router-link>
        </b-card>
        <b-card title="Group List" tag="article" style="max-width: 10rem; display: inline-block; margin: 4px;" class="mb-2">
            <b-card-text>
                Get to look at your Groups and edit them!
            </b-card-text>
            <router-link :to="{name: 'grouplist'}">show Grouplist</router-link>
        </b-card>
        <b-card title="Create Exercise" tag="article" style="max-width: 10rem; display: inline-block; margin: 4px;" class="mb-2">
            <b-card-text>
                Create a new Exercise!
            </b-card-text>
            <router-link :to="{name: 'exercise'}">Create Exercise</router-link>
        </b-card>
        <b-card title="Exercise List" tag="article" style="max-width: 10rem; display: inline-block; margin: 4px;" class="mb-2">
            <b-card-text>
                Get to look at your exercises and edit them!
            </b-card-text>
            <router-link :to="{name: 'exerciselist'}">Show Exerciselist</router-link>
        </b-card>
    </div>
</template>
