<template>
    <div class="vue-template">
        <form>
            <h3>Login</h3>

            <div class="form-group">
                <label>Username</label>
                <input v-model="user.name" type="text" class="form-control form-control-lg" />
            </div>

            <div class="form-group">
                <label>Password</label>
                <input v-model="user.password" type="password" class="form-control form-control-lg" />
            </div>

            <button @click="signin()" class="btn btn-dark btn-lg btn-block form-btn">Sign In</button>

            <p class="forgot-password text-right">
                Not registered? 
                <router-link :to="{name: 'register'}">sign up?</router-link>
            </p>
        </form>
    </div>
</template>
<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import axios from 'axios';
import router from '@/router/index.ts'

@Component
export default class Login extends Vue {
    private axios = require('axios');

    public user = {
        name : null,
        password : null
    }

    public signin(){
        const instance = this;
        axios.post('http://localhost:4000/api/user/login', {
            username: this.user.name, 
            password: this.user.password
        })
        .then(function (response){
            const status = response.status;

            if (status == 200) {
                instance.$eventHub.$emit('user-changed')
                router.push({ name: "home"});
            }
        })
        .catch(function (error){
            router.push({ name: "exception"});
        })
    }
}
</script>
