<template>
    <div class="vue-template">
            <h3>Logged out</h3>

            <div class="form-group">
                <label>See you soon!</label>
            </div>

            <button @click="signin()" class="btn btn-dark btn-lg btn-block">Login In</button>
        
    </div>
</template>
<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import axios from 'axios';
import router from '@/router/index.ts'

@Component
export default class Logout extends Vue {
    public axios = require('axios');

    mounted(){
        const instance = this;
        axios.post("http://localhost:4000/api/user/logout")
        .then(function(response){
            instance.$eventHub.$emit('user-changed')
        })
        .catch(function(response){
            router.push({ name: "exception"});
        })
    }

    public signin(){
        router.push({ name: "login"});
    }
}
</script>
