<template>
    <div class="vue-template">
        <form>
            <h3>Create new Node</h3>

            <div class="form-group">
                <label>Node name</label>
                <input v-model="node.name" type="text" class="form-control form-control-lg" />
            </div>

            <div class="form-group">
                <label>Parent Node</label>
                <select v-model="node.parentNode" class="form-select">
                <option v-for="node in items" :key="node.id" :value="node"> {{node.name}}</option>
                </select>
            </div>
            <button @click="create()" class="btn btn-dark btn-lg btn-block form-btn">Create Node</button>
        </form>
    </div>
</template>
<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import axios from 'axios';
import VueMultiSelect from "vue-simple-multi-select";
import router from '@/router/index.ts';

axios.defaults.withCredentials=true;

@Component
export default class Node extends Vue {
    private items = [];

    public node = {
        name : null,
        parentNode : {id: null}
    }
    
    mounted(){
        this.getdata();
    }

    private getdata(){
        //need all nodes
        axios.get('http://localhost:4000/api/node').then(response => {
            this.items = response.data;
        });
    }

    private create(){
        const nodedata = this.node
        axios.post('http://localhost:4000/api/node', {name: nodedata.name, parentNodeId: nodedata.parentNode.id})
        .then(function(response){
            router.push({ name: "nodelist"});
        })
        .catch(function(error){
            router.push({ name: "exception"});
        })

    }
}
</script>
