<template>
    <div class="vue-template">
        <h3>Edit Node</h3>

        <div class="form-group">
            <label>Add group</label>
            <vue-multi-select v-model="nodedata.groups" :options="groups" optionLabel="name"></vue-multi-select>
        </div>
        <div class="form-group">
            <label>Choose Permission</label>
            <vue-multi-select v-model="nodedata.permissions" :options="permissions"></vue-multi-select>
        </div>
        <div class="form-group">
            <label>Already permissioned Groups</label>
            <ul>
                <li v-for="group in entitledgroups" :key="entitledgroups.name">
                    {{ group.group.name }}
                    <button @click="kick(group.group.id)">Kick</button>
                </li>
            </ul>
        </div>
        <button class="btn btn-dark btn-lg btn-block form-btn" id="btn_edit" @click="edit()">Edit</button>
    </div>
</template>
<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import axios from 'axios';
import VueMultiSelect from "vue-simple-multi-select";
import router from '@/router/index.ts';

axios.defaults.withCredentials=true;

@Component
export default class NodeEdit extends Vue {
    private nodeId = "";    
    private groups = [];
    private permissions = [];
    private entitledgroups = [];


    public nodedata = {
        groups: null,
        permissions: null
    }

    created() {     
        this.nodeId = this.$route.params.id;
    }
    
    mounted(){
        this.loadgroups();
        this.loadentitledgroups();
        this.loadpermission();
    }

    private async loadgroups(){
        axios.get('http://localhost:4000/api/user/group').then(response => {
            this.groups = response.data;
        });
    }  
    
    private loadpermission(){
        axios.get('http://localhost:4000/api/permission').then(response => {
            this.permissions = response.data;
        });  
    }

    private loadentitledgroups(){
        axios.get('http://localhost:4000/api/node/' + this.nodeId + '/permission/group').then(response => {
            this.entitledgroups = response.data;
        })
        
    }

    private edit(){
        const count = this.nodedata.groups.length;
        for(let i = 0; i < count; i++){
            axios.post('http://localhost:4000/api/node/' + this.nodeId + '/permission/group/' + this.nodedata.groups[i].id, {permissionTypeId: 1})
            .then(function(response){
                router.push({ name: "nodelist"});
            })
            .catch(function(error){
                router.push({ name: "exception"});
            })
        }
    }

    private kick(groupId: String){
        axios.delete("http://localhost:4000/api/node/" + this.nodeId + "/permission/group/" + groupId)
        .then(function(response){
            router.push({ name: "nodelist"});
        })
        .catch(function(response){
            router.push({ name: "exception"});
        })
    }
}
</script>
