<template>
    <div class="vue-template">
        <table>
            <tr>
                <th>Nodename</th>
                <th class="trow">Actions</th>
                <th class="trow">Exam</th>
            </tr>
            <tr v-for="node in nodes" :key="node">
                <td>{{ node.name }}</td>
                <td v-if="userId == node.creatorId" class="trow"><router-link :to="{name: 'nodeedit', params: {id: node.id }}">Edit</router-link></td>
                <td v-else></td>
                <td class="trow"><router-link :to="{name: 'exam', params: {id: node.id }}">Exam</router-link></td>
            </tr>
        </table>
    </div>
</template>
<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import axios from 'axios';
axios.defaults.withCredentials=true;

@Component
export default class Node extends Vue {
    private nodes = [{
        creatorId: 0,
        edit: false,
        id: 0,
        name: "",
        parentNodeId: 0
    }];
    private userId = 0;
    private groups = [];
    private usergroups = [];
    private roles = [];

    mounted (){
        this.loadnodes();
        this.loaduser();
    }

    private async loaduser(){
        axios.get('http://localhost:4000/api/user').then(response => {
            const user = response.data;
            this.userId = user[0].id;
        });
        axios.get('http://localhost:4000/api/user/group').then(response => {
            this.usergroups = response.data
        });
    }

    private async loadnodes(){       
        axios.get('http://localhost:4000/api/node').then(response => {
            this.nodes = response.data;
            this.permission()
        });
    }

    private async permission(){
        const count = this.nodes.length;
        const userdata = this.usergroups;
        for(let i = 0; i < count; i++){
            axios.get('http://localhost:4000/api/node/' + this.nodes[i].id + '/permission/group').then(response => {
            for(let c = 0; c < response.data.length; c++){
                for(let u = 0; u < userdata.length; u++){
                    if(response.data[c].group.id == userdata[u].id){
                        this.nodes[c].edit = true;
                    }
                }
            }
            });
        }
    }
    
}
</script>
