<template>
    <div class="vue-template">
        <form>
            <h3>Permission</h3>

            <div class="form-group">
                <label>Groups</label>
                <vue-multi-select v-model="permission.groups" :options="groups" optionLabel="name"></vue-multi-select>
            </div>

            <div class="form-group">
                <label>Nodes</label>
                <select v-model="permission.node" class="form-select">
                <option v-for="node in nodes" :key="node.id" :value="node"> {{node.name}}</option>
                </select>
            </div>

            <div class="form-group">
                <label>Role</label>
                <select v-model="permission.role" class="form-select">
                <option v-for="permission in permissions" :key="permission.id" :value="permission"> {{permission.name}}</option>
                </select>

            </div>

            
            <button @click="create()" class="btn btn-dark btn-lg btn-block form-btn">Add Permission</button>
        </form>
    </div>
</template>
<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import axios from 'axios';
import VueMultiSelect from "vue-simple-multi-select";
import router from '@/router/index.ts';

axios.defaults.withCredentials=true;

@Component
export default class Group extends Vue {
    private groups = [];
    private nodes = [];
    private permissions = [];

    public permission = {
        groups : null,
        node : null,
        role : null
    }
    
    mounted(){
        this.getdata();
    }

    private getdata(){
        axios.get('http://localhost:4000/api/user/group').then(response => {
            this.groups = response.data;
        });

        axios.get('http://localhost:4000/api/node').then(response => {
            this.nodes = response.data;
        });
        
        axios.get('http://localhost:4000/api/permission').then(response => {
            this.permissions = response.data;
        });
    }

    private create(){
        const permissiondata = this.permission;
        const count = this.permission.groups.length;
        for(let i = 0; i < count; i++){
            axios.post("http://localhost:4000/api/node/" + permissiondata.node.id + "/permission/group/" + permissiondata.groups[i].id, {permissionTypeId: permissiondata.role.id})
            .then(function(response){
                console.log(response)
            })
            .catch(function(response){
                router.push({ name: "exception"});
            })
        }
        router.push({ name: "home"});
    }
}
</script>
