<template>
    <div class="vue-template">
        <form>
            <h3>Sign Up</h3>
            
            <p class="forgot-password text-right">
                * is not mandatory
            </p>

            <div class="form-group">
                <label>Username</label>
                <input v-model="user.name" type="text" class="form-control form-control-lg"/>
            </div>

            <div class="form-group">
                <label>Email address*</label>
                <input v-model="user.email" type="email" class="form-control form-control-lg" />
            </div>

            <div class="form-group">
                <label>Password</label>
                <input v-model="user.password" type="password" class="form-control form-control-lg" />
            </div>

            <button @click="register()" type="submit" class="btn btn-dark btn-lg btn-block form-btn">Register</button>
            
            
            
            <p class="forgot-password text-right">
                Already registered 
                <router-link :to="{name: 'login'}">sign in?</router-link>
            </p>
        </form>
    </div>
</template>
<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import axios from 'axios';
import router from '@/router/index.ts';


@Component
export default class Register extends Vue {
    private axios = require('vue-ts-axios');

    public user = {
        name: null,
        password : null,
        email : null
    }
    private register(){
        const instance = this;
        axios.post('http://localhost:4000/api/user/register', {
            username: this.user.name,
            email: this.user.email, 
            password: this.user.password
        })
        .then(function (response){
            const status = response.status;

            if (status == 201) {
                router.push({ name: "home"});
                instance.$eventHub.$emit('user-changed')
            }
        })
        .catch(function (error){
            router.push({ name: "exception"});
        })
    }
}
</script>
