<template>
  <div class="vue-template">
    <nav class="navbar shadow bg-white rounded justify-content-between flex-nowrap flex-row fixed-top">
      <div class="container">
        <ul v-if="userdata[0].username == null" class="navbar-nav flex-row float-right">
          <li class="nav-item">
            <router-link class="nav-link pr-3 nav-btn" to="/login">Login</router-link>
          </li>
          <li class="nav-item">
            <router-link class="btn btn-outline-primary nav-btn" to="/register">Register</router-link>
          </li>
        </ul>
        <ul v-else class="navbar-nav flex-row float-right">
          <li class="nav-item">
            <label class="nav-link pr-3 nav-btn">{{ userdata[0].username }}</label>
          </li>
          <li class="nav-item">
            <router-link class="nav-link pr-3 nav-btn" to="/">Home</router-link>
          </li>
          <li class="nav-item">
            <router-link class="btn btn-outline-primary nav-btn" to="/logout">Logout</router-link>
          </li>
        </ul>
      </div>
    </nav>

    <div class="App">
      <div class="vertical-center">
        <div class="inner-block">
          <router-view />
        </div>
      </div>
    </div>
  </div>
</template>
<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import axios from 'axios';
import VueMultiSelect from "vue-simple-multi-select";

axios.defaults.withCredentials=true;

@Component
export default class App extends Vue {
    private users = [{
        id : null,
        username : null,
        email : null
    }]
    
    created(){
      this.reloadnavbar();
      this.$eventHub.$on('user-changed', this.reloadnavbar)
    }

    beforeDestroy(){
      this.$eventHub.$off('user-changed')
    }

    mounted(){
        this.getdata();
    }

   public getdata(){
      const instance = this
      axios.get('http://localhost:4000/api/user').then(response => {
        instance.users = response.data;
      })
      .catch(function(response){
        instance.users = [{id : null, username : null, email : null}]
      });
    }

    get userdata(){
      return this.users;
    }

    public reloadnavbar(){
      this.getdata();
    }
}
</script>
