* {
  box-sizing: border-box;
}

body {
  background: #ff8700  !important;
  min-height: 100vh;
  display: flex;
  font-weight: 400;
}

body,
html,
.App,
.vue-template,
.vertical-center {
  width: 100%;
  height: 100%;
}

.navbar-light {
  background-color: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
}

.vertical-center {
  display: flex;
  text-align: left;
  justify-content: center;
  flex-direction: column;    
}

.inner-block {
  max-width: 60%;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;
}

.vertical-center .form-control:focus {
  border-color: #ff8700 ;
  box-shadow: none;
}

.vertical-center h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}

label {
  font-weight: 500;
}

.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #7a7a7a;
  margin: 0;
}

.forgot-password a {
  color: #ff8700;
}

.form-picture{
  max-width: 40%;
}

.form-cbx{
  margin-left: 30%;
}

.trow{
  padding-left: 15%;
}

.nav-btn{
  color:#ff8700;
  border-color: #ff8700;
}
.btn:hover{
  background-color:#ff8700;
}
.nav-link:hover{
  color:#7a7a7a
}

a{
  color: #ff8700
}

a:hover{
  color: #7a7a7a;
}

option:hover{
  background-color: #ff8700;
}

.nav-item{
  margin-right: 5%;
  
}

body {
  margin: 0;
  padding: 120px 0 0;
}

.app{
  padding-top: 300px;
}

.blocked{
  pointer-events: none;
  background-color: lightgray;
}

.form-btn{
  margin-right: 1%;
  margin-top: 2%;
}
